<template>
  <div>
    <!-- <h1>{{ name }}</h1>
    <p>{{ tasks[0] }}</p>
    <p>{{ tasks[1] }}</p>
    <hr />
    <componentA />
    <componentB />
    <componentC /> -->
    <p>{{ firstName }} {{ lastName }}</p>
    <p>{{ fullName }}</p>
  </div>
</template>

<script>
// import ComponentA from "./ComponentA.vue";
// import ComponentB from "./ComponentB.vue";
// import ComponentC from "./ComponentC.vue";
export default {
  name: "GreetingMessage",
  props: {
    firstName: String, 
    lastName: String, 
    fullName: {
        type: String,
        // default: 'unknow',
        required: false
    }
  },
  components: {
    // ComponentA,
    // ComponentB,
    // ComponentC,
  },
  data: () => {
    return {
      name: "Mark Zuckerberg",
      tasks: [
        { id: 1, title: "Buy some milk", isFav: false },
        { id: 2, title: "Buy some milk", isFav: false },
      ],
    };
  },
};
</script>
