<template>
  <div>
    <img src="./assets/logo.png" alt="logo.png"/>
    <!-- Static type -->
    <greeting-message first-name="Mark" last-name="Zuckerberg" />
    <greeting-message first-name="ELon" last-name="Musk" />
    <greeting-message first-name="Josh" last-name="hutcherson" />
    <hr>
    <!-- Dynamic value -->
    <greeting-message :first-name="fName" v-bind:last-name="lName" />
    <greeting-message v-bind:full-name="fullName" />
  </div>
</template>

<script>
import GreetingMessage from "./components/GreetingMessage.vue";
export default {
  name: "App",
  data() {
    return {
      fName: "John",
      lName: "Doe",
    };
  },

  computed: {
    fullName() {
      return this.fName + ' ' + this.lName;
    },
  },
  
  components: {
    GreetingMessage,
  },
};
</script>

<style>
* {
  text-align: center;
}
</style>
